[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "*"
python-dotenv = "*"
langchain = "*"
langchain-anthropic = "*"
langchain-ollama = "*"
langgraph = "*"
langgraph-prebuilt = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
